{{#each this}}
  <div class='country-name-box'>
    <img src='{{flags.png}}' alt='{{name.official}}' width='120' />
    <h1>
      {{name.official}}
    </h1>
  </div>
  <ul class='info-list'>
    <li class='info-item'>
      <span class='info-title'>
        Capital:
      </span>{{capital}}
    </li>
    <li class='info-item'>
      <span class='info-title'>
        Population:
      </span>{{population}}
    </li>
    <li class='info-item'>
      <span class='info-title'>
        Languages:
      </span>{{#each languages}}
        {{#if @last}}
          {{this}}
        {{else}}
          {{this}},
        {{/if}}
      {{/each}}
    </li>
    <li class='info-item'>
      <span class='info-title'>
        Currencies:
      </span>{{#each currencies}}
        {{this.name}} ({{this.symbol}})
      {{/each}}
    </li>
    <li class='info-item'>
      <span class='info-title'></span>
    </li>
  </ul>
{{/each}}