{{#each this}}
  <div class='country-name-box'>
    <img src='{{flags.png}}' alt='{{name.official}}' width='120' />
    <h1>
      {{name.official}}
    </h1>
  </div>
  <ul class='info-list'>
    <li class='info-item'>
      <span class='info-title'>
        Capital:
      </span>{{capital}}
    </li>
    <li class='info-item'>
      <span class='info-title'>
        Population:
      </span>{{population}}
    </li>
    <li class='info-item'>
      <span class='info-title'>
        Languages:
      </span>{{#each languages}}
        {{#if @last}}
          {{this}}
        {{else}}
          {{this}},
        {{/if}}
      {{/each}}
    </li>
    <li class='info-item'>
      <span class='info-title'>
        Currencies:
      </span>{{#each currencies}}
        {{#if @last}}
          {{this.name}} ({{this.symbol}})
        {{else}}
          {{this.name}},
        {{/if}}
      {{/each}}
    </li>
    <li class='info-item'>
      <span class='info-title'></span>
    </li>
  </ul>
{{/each}}

{{! Array [ {…} ]
​
0: Object { flags: {…}, name: {…}, population: 38005238, … }
​​
    altSpellings: Array [ "CA" ]
    ​​
    capital: Array [ "Ottawa" ]
    ​​
    currencies: Object { CAD: {…} }
    ​​
    flags: Object { png: "https://flagcdn.com/w320/ca.png", svg: "https://flagcdn.com/ca.svg" }
    ​​
    languages: Object { eng: "English", fra: "French" }
    ​​​
        eng: "English"
        ​​​
        fra: "French"
    ​​​
    <prototype>: Object { … }
    ​​
    name: Object { common: "Canada", official: "Canada", nativeName: {…} }
    ​​
    population: 38005238
    ​​
    <prototype>: Object { … }
​
length: 1
​
<prototype>: Array [] }}